# Environment variables
.env
.env.*
*.env

# Python
.venv/
__pycache__/
*.pyc

# Node
node_modules/

# Build outputs
dist/
build/

# Databases
*.db
!backend/indiaguessr.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
!frontend/.env.example
!backend/.env.example